<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <settings>
    <setting name="cacheEnabled" value="false" />
    <setting name="lazyLoadingEnabled" value="true" />
    <setting name="aggressiveLazyLoading" value="true" />
    <setting name="multipleResultSetsEnabled" value="true" />
    <setting name="useGeneratedKeys" value="true" />
    <!-- '_ 'to camelCase -->
    <setting name="mapUnderscoreToCamelCase" value="false" />
    <setting name="defaultExecutorType" value="REUSE" />
    <setting name="defaultStatementTimeout" value="3000" />
  </settings>

  <!--
  <plugins>
      <plugin interceptor="com.패키지">
          <property name="dbms" value="mysql" />
          <property name="sqlPattern" value=".*findAll*.*" />
      </plugin>
  </plugins>
   -->

</configuration>
